<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" href="/easyui/themes/icon.css"/>
<link rel="stylesheet" href="/easyui/themes/default/easyui.css"/>
<link rel="stylesheet" href="/easyui/themes/color.css"/>
<script src="/easyui/jquery.min.js"></script>
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="tool">
	
		<a shiro:hasPermission="user:edit" id="btn-search" href="javascript:updateMkUser()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
		<a shiro:hasPermission="user:add" href="javascript:addMkUser()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
		<a shiro:hasPermission="user:delete" href="javascript:deleteMkUser()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
	</div>
<table id="showBook" ></table>
<div id="dd-dialog"></div>  
<script type="text/javascript">
/* <![CDATA[ */
$(function(){
	  searchPage();
})

function deleteMkUser(){
	//var arr = $("#showBook").datagrid("getSelections");
	var ids ='';
    $($("#showBook").datagrid("getSelections")).each(function(V,I) {
        ids = ids + "," + "'" +
			""+this.id+" '";
    });
    ids=ids.substr(1);
	$.post('/user/deleteUser.do',{"ids":ids},function(){
		alert("删除成功");
		searchPage();
	})
}

 function updateMkUser(){
  var arr = $("#showBook").datagrid("getSelected");
  console.log(arr)
	var id = arr.id;
	$('#dd-dialog').dialog({    
	    title: '修改',    
	    width: 600,    
	    height: 400,    
	    closed: false,    
	    cache: false,    
	    href: "/user/queryUserById?id="+id,
	    modal: true,
	    buttons:[{
			text:'保存',
			handler:function(){
				$.ajax({
					url:"/user/updateUser",
					data:$("#updateUserForm").serialize(),
					type:"post",
					success:function(){
						$('#dd-dialog').dialog('close');
						 searchPage();
					}
				}) 
			}
		},{
			text:'关闭',
			handler:function(){
				$('#dd-dialog').dialog('close')
			}
		}]
	})
}

function searchPage(){
	 $('#showBook').datagrid({
		    url:'/user/queryUser',  /* 请求路径 */
		    fit:true,
		    toolbar:'#tool',
		    //singleSelect:true,/* 只允许选择一行 */
		    checkOnSelect:false,/* 操作复选框是不操作行 */ 
		    selectOnCheck:true,/* 操作行时，不操作复选框 */
		    pagination:true,/* 为true时，在底部显示分页工具栏 */ 
		    pageNumber:1,/* 当前页数 */ 
		    pageSize:3,/* 每页条数 */ 
		    pageList:[3,5,8],/* 下拉 选择 每页条数 第一个数需和每页条数一致 */ 
	        queryParams: {/*  条件查询  方法  */
	        	/* bookName: $("#searchame").val(),
	        	bookType:$("#selectid").val(), 
	        	bookDatestr: $("#starttime").val(),
	        	bookDateend: $("#endtime").val()   */
		   }, 
		    columns:[[ //展现列数据
                {field:'check',checkbox:true},
		        {field:'id',title:'id',width:100,align:'center' },    
		        {field:'name',title:'名称',width:100,align:'center'}, 
		        {field:'loginNumber',title:'账户',width:100,align:'center'},
		        {field:'password',title:'密码',width:100,align:'center'}
		    ]],
		});
}
function addMkUser(){
	$('#dd-dialog').dialog({    
	    title: '新增',    
	    width: 600,    
	    height: 400,    
	    closed: false,    
	    cache: false,    
	    href: '/user/toAddUserInfo',
	    modal: true,
	    buttons:[{
			text:'保存',
			handler:function(){
				$.ajax({
					url:"/user/addUser",
					data:$("#addUserForm").serialize(),
					type:"post",
					success:function(){
						$('#dd-dialog').dialog('close');
						 searchPage();
					}
				}) 
			}
		},{
			text:'关闭',
			handler:function(){
				$('#dd-dialog').dialog('close')
			}
		}]
	})
}



/* ]]> */
</script>
</body>
</html>